@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.Navigation {
  display: flex;
  flex-direction: row-reverse;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  background-color: #333;
}

li a {
  font-family: "Oswald", sans-serif;
  margin-right: 20px;
  font-weight: 400;
  font-size: 20px;
  display: block;
  color: white;
  padding: 15px 15px;
  text-decoration: none;
}

.Home {
  order: 3;
}
.About {
  order: 2;
}
.Resume {
  order: 1;
}

/*Change the link on hover*/
li a:hover {
  color: red;
}

.racoon {
    width: 100px;
    border-radius: 20px;
    float: left;
    margin-right: 10px;
}

