.About-Me-Global {
  padding-top: 3.5vmax;
  padding-bottom: 3.5vmax;
  background-color: var(--bright);
}




.About-Me-Container {
  color: var(--mainBlack);
  font-family: 'Lexend', "Noto-sans", sans-serif;
  font-weight: 400;
  line-height: 25px;
  font-style: normal;
  letter-spacing: 8%;
}

.About-Me-Wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
}

.About-Me-Description {
  font-size: var(--bodyFontSize);
  /*Animation*/
  opacity: 0;
  animation-name: translateInLeft;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-delay: 0.6s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.image-contain {
  width: 100%;
  height: auto;
  animation: action 1s infinite alternate;
}

@keyframes action {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

#About-Me-Image {
  border-radius: 50%;
  width: 100%;
}

@media only screen and (max-width: 820px) {

  .About-Me-Wrap {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 5%;
  }



}

@keyframes translateInLeft {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }

  to {
    opacity: 1;
  }

}