@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

.About-Me-Global {
  padding-top: 4vmax;
  padding-bottom: 4vmax;
  background-color: #f8f9f9;
  background-color: white;
}




.About-Me-Container {
  color: #2f2e41;
  font-family: 'Nunito', "Noto-sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 8%;
}

.About-Me-Wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
}

.About-Me-Description {
  font-size: 1rem;
  /*Animation*/
  opacity: 0;
  animation-name: translateInLeft;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-delay: 0.6s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.image-contain {
  width: 100%;
  height: auto;
  animation: action 1s infinite alternate;
}

#About-Me-Image {
  border-radius: 50%;
  width: 100%;
}

#About-Me-Resume:hover {
  font-family: 'Nunito', "Noto-sans", sans-serif;
  background-color: #2a2c5e;
  color: #f8f9f9;
  cursor: pointer;
}

@media only screen and (max-width: 820px) {
  .About-Me-Container {
    padding-top: 10vmax;
  }

  .image-contain {
    display: none;
  }

  .About-Me-Wrap {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 5%;
  }



}

@keyframes translateInLeft {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }

  to {
    opacity: 1;
  }

}