@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

.About-Me-Container {
  color: rgb(49, 49, 49);
  font-family: 'Nunito', "Noto-sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 8%;
  padding-bottom: 4vmax;
  padding-top: 2vmax;
  font-size: 1.25rem;
}

#About-Me-Image {
  border-radius: 50%;
  width: 100%;
}

@media only screen and (max-width: 820px) {
  .About-Me-Container {
    padding-top: 10vmax;
  }


}