.Contact-Container {
    padding: 3rem;
    background-color: rgb(17, 17, 17);
    color: white;
    display: flex;
    justify-content: center;

}

/*Contact Quick*/
.Contact-Quick-Title {
    display: flex;
    justify-content: center;
    font-size: 2.7rem;
}
.Contact-Quick {
    width: 50%;
    flex-wrap: wrap;
}
.Contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contact-Link-List {
    list-style-type: none;
}

/*Contact Form*/
.Contact-Form {
    width: 50%;

}

.Contact-Form-Title {
    font-size: 2.7rem;
}

.Contact-Form-Input {
    display: flex;
}