@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.Contact-Container {
    font-family: 'Poppins',"Noto Sans", sans-serif;
    background-color: #111111;
    color: white;
    padding-bottom: 3rem;

}

.Contact-Wrap {
    margin-right: 17%;
    margin-left: 17%;
}

/*Contact Form*/
.Contact-Form {
    display: block;
}

.Contact-Form-Title {
    margin-top: 1.5rem;
    text-align: left;
    display: flex;
  }
  