@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

.Contact-Global {
    padding-bottom: 3rem;
    padding-top: 2rem;
    background-color: white;
}


.Contact-Container {
    color: #2f2e41;
    font-family: 'Nunito', "Noto-sans", sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding-top: 5vmax;
}

.Contact-Title {
    display: flex;
    padding-top: 2rem;
}

.Contact-Wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

}

#Contact-Me {
    box-sizing: border-box;
    width: 100%;
}

/*Contact Quick*/
.Contact-links {
    padding-top: 0;
    display: flex;
    justify-content: left;
}

.Contact-Quick {
    min-width: 50%;
}

.contact-socials {
    display: flex;
    justify-content: left;
    margin-bottom: 3rem;
}

/*undraw photo*/
.contact-image-contain {
    height: 400px;
    width: auto;
}


/*Contact Form*/
.Contact-Form-Input {
    display: flex;
    justify-content: center;
    width: 50%;

}

label {
    font-size: 1.25rem;
}

.name {
    display: grid;
    margin-bottom: 1.5rem;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;

}


.email-seg {
    width: 100%;
    margin-bottom: 1.5rem;
}

#email {
    width: 100%;
}


.message-seg {

    width: 100%;
    margin-bottom: 1.5rem;
}

input[type=text] {
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Nunito', "Noto-sans", sans-serif;
    outline-width: 0;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

textarea {
    font-family: 'Nunito', "Noto-sans", sans-serif;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    outline-width: 0;
    font-size: 1rem;
    width: 100%;
}

input[type=button] {
    font-family: 'Nunito', "Noto-sans", sans-serif;
    background-color: white;
    border-radius: 4px;
    color: #2f2e41;
    border: 1px solid #ccc;
    outline-width: 0;
    margin-right: 1.5rem;
    font-size: 1.25rem;
    padding: 6px 14px;
    transition: all .2s ease-out;
}

input[type=button]:hover {
    background-color: rgb(210, 213, 214);
    cursor: pointer;

}

@media only screen and (max-width:1100px) {
    .Contact-Quick {
        margin-bottom: 2rem;
    }

    .Contact-Form-Input {
        width: 100%;
    }

    .contact-socials {
        justify-content: center;
    }

    /*undraw photo*/
    .contact-image-contain {
        height: 300px;
        width: auto;
    }



}