@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.Experience-Container {
  background-color: #f5f3f3;
  font-family: 'Poppins',"Noto Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 8%;
  display: flex;
  justify-content: center;
  letter-spacing: 8%;
  padding-bottom: 5rem;
}
.Experience-Box {
  margin-right: 15%;
  margin-left: 15%;
}

.Experience-Title {
  margin-top: 3.1rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

span {
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  margin: 0px;
  font-weight: 400;
  font-style: normal;
}

ul li {
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
}

.Experience-tablist {
  margin: 2.5rem;
  width: 20rem;
}

.Experience-Content {
  margin: 1rem;
}