@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.Experience-Container {
  background-color: #f5f3f3;
  font-family: 'Poppins',"Noto Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 8%;
  display: flex;
  justify-content: center;
  letter-spacing: 8%;
  padding-bottom: 5rem;
}
.Experience-Box {
  margin-right: 15%;
  margin-left: 15%;
}

.Experience-Title {
  margin-top: 3.1rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

h2 {
  justify-content: left;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-size: 2.3rem;
  margin: 0px;
  font-weight: normal;
  font-style: normal;
}

h4 {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}

ul li {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}

/*
button {
  font-family: 'Poppins',"Noto Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  cursor: pointer;
  border: 0px;
  border-radius: 7%;
  display :block;
  background-color: white;
  margin-bottom: 1.5rem;
}

button:hover {
  background-color: rgb(175, 171, 171);
}
*/



.Experience-tablist {
  margin: 2.5rem;
  width: 20rem;
}

.Experience-Content {
  margin: 1rem;
}