footer {
  color: white;
  background-color: #2f2e41;
  font-family: 'Lexend', "Noto-sans", sans-serif;
  bottom: 0px;
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.footer-socials {
  display: flex;
  justify-content: center;
}

.footer-name {
  font-weight: 400;
  text-align: center;
}