@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
footer {
  background-color: #161515;
  font-family: 'Poppins', "Noto-sans",sans-serif;
  bottom: 0px;
  display: flex;
  justify-content: center;
  margin-top: 2em;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.footer-socials {
  display: flex;
  justify-content: center;
}

.footer-name {
  color: white;
  font-weight: 300;
  text-align: center;
}
