
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Section-title {
  font-weight: 400;
  font-size: 3rem;
  border-bottom: 3px rgb(146, 125, 99) solid;
}



h3 {
  font-size: 1.2rem;
  margin: 0px;
  font-weight: 400;
}

h4 {
  font-family: 'Poppins',"Noto Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;

}
