@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

/*Off white #f8f9f9*/
/*Min Blue #3c47e8*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.Section-title-container {
  margin-top: 0.5rem;
}

.Section-title-wrap {
  display: flex;
  justify-content: left;

}

.Section-title {
  padding-top: 1rem;
  font-weight: 600;
  font-size: 2.75rem;
  color: #3c47e8;
  margin-bottom: 0.5rem;
  /*
  border-bottom: 4px solid #e76215;
  */

}

.divider-wrap {
  display: flex;
  justify-content: center;
  height: 5px;
  margin-bottom: 2rem;
}

.divider {
  height: 100%;
  width: 100%;
  margin-top: 0px;
  background-color: #2f2e41;
  background-color: #3f3d56;
  background-color: #e76215;
  background-color: #f29a67;
  background-color: #464c97;

  border-radius: 5px;
}

@media only screen and (max-width:500px) {
  .Section-title {
    font-size: 2rem;
  }
}

.Main-wrap {
  margin: 0 auto;
  max-width: 1260px;
  padding: 0px 1.0875rem 1.45rem;
  padding-top: 0;
}



h3 {
  font-size: 1.5rem;
  margin: 0px;
  font-weight: 400;
  color: #2f2e41;
  font-family: 'Nunito', "Noto-sans", sans-serif;
}

span {
  font-family: 'Nunito', "Noto-sans", sans-serif;
  font-weight: 700;
  font-size: 1.65;
}


h4 {
  font-family: 'Nunito', "Noto-sans", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  margin: 5px 0px;
  color: #2f2e41;
}

.spacer {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.layer1 {
  background-image: url('../images/blob-haikei.svg')
}

.layer2 {
  background-image: url('../images/blob-haikei\ \(2\).svg')
}


.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;

}

.undraw-photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
}