@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.Landing-Page-Container {
  font-family: 'Poppins', "Noto-sans", sans-serif;
  font-weight: 800;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100vh;
  color: rgb(49, 49, 49);
}

.Words-Container {
  text-align: left;
}

.Landing-Page-Intro {
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
}

.Landing-Page-Name {
  color: #9b40ea;
  font-size: 4.5rem;
  font-weight: 500;
  font-style: normal;
}

.Landing-Page-School {
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  padding-bottom: 1.5rem;
}

a {
  text-decoration: none;
}

.Content-Container {
  margin: 0px;
}

#github-icon,
#linkedin-icon,
#email-icon {
  color: rgb(49, 49, 49);
  transition: 0.3s;
}

#github-icon:hover,
#linkedin-icon:hover,
#email-icon:hover {
  color: rgb(162, 166, 168);
}

#Go-to-Contact {
  font-family: 'Poppins', "Noto-sans", sans-serif;
  box-sizing: border-box;
  padding: 5px 10px;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  height: 3rem;
  background-color: #9b40ea;
  border: none;
  border-radius: 5px;
  color: white;
  transition: 0.3s;
}

#Go-to-Contact:hover {
  font-family: 'Poppins', "Noto-sans", sans-serif;
  background-color: #641fa0;
  cursor: pointer;
}


@media only screen and (max-width:680px) {
  .Landing-Page-Intro {
    font-size: 1.5rem;
  }

  .Landing-Page-Name {
    font-size: 4rem;
  }

  .Landing-Page-School {
    font-size: 1.5rem;
  }

  #Go-to-Contact {
    font-size: 1rem;
  }

}