.maximize-width {
  width: 100%;

}

.Landing {
  color: var(--mainBlue);
}

.landing-page-wrap {
  display: flex;
  animation-name: fadeInOpacityBottom;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.Content-Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Landing-Page-Global {
  height: 80vh;
  display: flex;
  align-items: center;
  background-color: var(--offWhiteColor);
  background-color: #ffffff;
  margin-bottom: 1.25rem;
  border-radius: 1rem;
}

.button-group {
  display: flex;
  justify-content: left;
}



.Landing-Page-Container {
  font-family: var(--fonts);
  display: flex;
  justify-content: left;
  color: var(--offWhiteColor);
}


.socials {
  margin-bottom: 5%;
}

#github-icon,
#linkedin-icon,
#email-icon {
  color: var(--bright);
}

.Words-Container {
  text-align: left;
}

.Landing-Page-Intro {
  text-align: left;
  font-size: var(--LandingPage);
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0.5rem;
}

.Landing-Page-School {
  text-align: left;
  font-size: var(--LandingPageSchool);
  font-weight: 400;
  font-style: normal;
  margin-bottom: 3%;
  color: #5c5c5d;
  color: var(--offWhiteColor);
}

a {
  text-decoration: none;
}


.outer {
  color: #36383c;
  transition: 0.3s;
}


.outer:hover {
  transform: translateY(-9px);
}

@keyframes fadeInOpacityBottom {
  0% {
    opacity: 0;
    transform: translate(0, 25px);
  }

  100% {
    opacity: 1;
  }
}

.button-group {
  display: flex;
  align-items: center;
}

#Go-to-Contact,
#Go-to-Resume {
  font-family: var(--fonts);
  padding: 10px 28px;
  font-size: 1.25rem;
  font-weight: 500;
  border: none;
  border-radius: 100px;

  color: var(--offWhiteColor);
  background-color: var(--mainBlue);
  transition: 0.5s;

}

.landing-image-contain {
  width: 89%;
  height: auto;
  /*animation: action 1s infinite alternate;*/
}


#Go-to-Contact:hover,
#Go-to-Resume:hover {
  font-family: var(--fonts);
  background-color: #34389a;
  color: var(--offWhiteColor);
  cursor: pointer;
}

@keyframes action {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes fadeInOpacityTop {
  0% {
    opacity: 0;
    transform: translate(0, -25px);
  }

  100% {
    opacity: 1;
  }
}



.arrow {
  margin-top: 1rem;
  position: absolute;
  bottom: 45%;
  left: 50%;
  margin-left: -20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url('../images/down-arrow.svg');
  background-size: contain;
  /*Animation -> Fade-in -> bounce*/
  opacity: 0;
  animation: 0.25s fadeInOpacityTop 1s linear forwards, bounce 2s infinite;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

@media only screen and (max-width:915px) {
  .Content-Container {
    padding-top: 4rem;
  }


  #Go-to-Contact,
  #Go-to-Resume {
    font-size: 1rem;
  }

  .image-contain {
    width: auto;
    height: 50vh;
    margin: 0 auto;
  }

  .socials {
    margin-bottom: 5%;
  }

}

@media only screen and (max-width: 820px) {

  .landing-image-contain {
    display: none;
  }

}

@media only screen and (max-width:355px) {
  .Content-Container {
    padding-top: 4rem;
  }


  #Go-to-Contact,
  #Go-to-Resume {
    font-size: 0.8rem;
  }
}