@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.Mobile-Bar-Container {
    /*
    box-sizing: border-box;
    height: 67p*/
    position: fixed;
    background-color: transparent; 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    z-index: 2;
    transition: 1s;
}
  
#logo {
    margin-right: auto;
    margin-left: 5%s;
}

#logo a {
    color: #d1d4d4;
    font-family: 'Poppins', "Noto-sans",sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 8%;
}

.wrap-nav {
    box-sizing: border-box;
    height: 67px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 2%;
    margin-left: 2%;
}

#myLinks {
    margin-top: -20px;
    display: block;
}


.Nav {
    list-style-type: none;
    padding: 0px;
}

.nav-buttons, .nav-button {
    margin-top: 1rem;
}


.icon {
    font-size: 1rem;
    color:white;
}

