@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

.Navigation-Bar-Container {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 2;
  transition: 1s;
  color: white;
  opacity: 0;
  font-size: 0.9rem;
  /*Animations*/
  animation-name: fadeInOpacityTop;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;

}

@keyframes fadeInOpacityTop {
  0% {
    opacity: 0;
    transform: translate(0, -25px);
  }

  100% {
    opacity: 1;
  }
}


.wrap-nav {
  box-sizing: border-box;
  height: 67px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 0 auto;

}

.Navigation {
  display: inline-flex;
  list-style-type: none;
  text-align: center;
}

.logo {
  margin-right: auto;
}


.logo a {
  color: white;
  display: inline-block;
  font-family: 'Nunito', "Noto-sans", sans-serif;

  font-size: 1rem;

  font-weight: 500;
  font-style: normal;
  letter-spacing: 8%;
  transition: 0.3s;
}

#logo-text:hover,
.nav-buttons a:hover,
.nav-button a:hover {
  transform: scale(1.15);
  cursor: pointer;
}


.nav-button a {
  color: white;
}


.nav-buttons,
.nav-button {
  margin-right: 1rem;
  border-radius: 5px;
  border: 2px solid transparent;
}

.nav-button {
  transition: 0.5s;
}



.nav-button a,
.nav-buttons a {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 8%;
  text-decoration: none;
  font-family: 'Nunito', "Noto-sans", sans-serif;
  padding: 5px 5px;
  transition: 0.3s;
}

/*Hamburger Menu*/
.icon {
  font-size: 1rem;
  color: white;
  display: none;
}

#myLinks {
  display: none;
  margin-top: -30px;
}

.active {
  transform: scale(1.15);
  cursor: pointer;
}


@media only screen and (max-width:1400px) {

  #myLinks {
    display: none;
    transition: 0.3s;
  }

  .logo a {
    margin-left: 1rem;
  }


}


@media only screen and (max-width: 815px) {

  .nav-buttons,
  .nav-button {
    border: none;
  }



  .nav-button {
    border: none;
    padding: 0px;
  }

  .nav-button a {
    background-color: none;
  }

  .logo a:hover,
  .nav-button a:hover,
  .nav-buttons a:hover {
    transform: scale(1.05);
    cursor: pointer;
  }



  .MobileView {
    margin-left: -4px;
  }

  .Navigation-Bar-Container {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    z-index: 2;
    transition: 1s;
  }

  .Nav {
    padding-left: 0px;
    list-style-type: none;
  }

  .wrap-nav {
    height: 65px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .mobile-nav {
    margin-right: 2%;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    width: 100%;

  }

  .logo {
    margin-right: auto;
    margin-left: 0%;
  }

  .icon {
    font-size: 1rem;
    display: inline;
    right: 2%;
    position: absolute;
  }

  .icon:hover {
    color: #494C9E;
  }

  #NormalNavBar {
    display: none;
  }

  #myLinks {
    display: none;
  }
}