.Projects-Global {
  padding-top: 67px;
  padding-bottom: 67px;
  background-color: var(--offWhiteColor);


}

.disabled {
  cursor: not-allowed;
  text-decoration: line-through;
  text-decoration-color: rgb(40, 39, 39);
  text-decoration-thickness: 3px;
}

.Projects-Box {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.See-work-link {
  display: flex;
}

.enabled,
.disabled {
  font-family: var(--fonts);
  font-size: var(--bodyFontSize);
  font-weight: 700;
  margin: 5px 0px;
  color: #5155ca;
  transition: all 0.3s ease-in-out;
}


.enabled:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}


.Projects-Container {
  color: var(--contentColor);
  font-family: var(--fonts);
  font-weight: normal;
  font-style: normal;
  letter-spacing: 8%;

}

.image-box {
  height: 300px;
  margin-bottom: 2%;

  border-radius: 10px;
}




.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: all .2s ease-out;
  border-radius: 5px;

}


.Text {
  margin-left: 1.5rem;
}

.Project-section {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: #efeeee;
  border-radius: 10px;
  transition: all 0.5s;
}

.Project-section:hover {
  transform: scale(1.1, 1.1);
}



.Project-Text {
  font-size: var(--bodyFontSize);
  ;
}


.project-skill-container {
  display: flex;
  flex-wrap: wrap;
}

.project-skill {
  font-size: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.4rem;
  border-radius: 5px;
  color: var(--bright);

  background-color: rgb(52, 51, 60);
}

.github-button-wrap {
  display: flex;

}

.github-button {

  font-family: var(--fonts);
  padding: 10px 28px;
  font-size: 1.25rem;
  font-weight: 500;
  border: none;
  border-radius: 100px;

  color: var(--offWhiteColor);
  background-color: var(--mainBlue);
  transition: 0.5s;
}

.github-button:hover {
  font-family: var(--fonts);
  background-color: #34389a;
  color: var(--offWhiteColor);
  cursor: pointer;
}


@media only screen and (max-width:940px) {
  .project-skill {
    font-size: 0.88rem;
  }

  .image-box {
    width: 100%;
    height: auto;
    margin-bottom: 2%;
  }

  .project-image {
    width: 100%;
    height: auto;
    object-fit: cover;

  }

  .Projects-Box {
    display: grid;
    grid-template-columns: 1fr;

  }


}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translate(0, 25px);
  }

  100% {
    opacity: 1;
  }
}
