@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

.Projects-Global {
  background-color: #f8f9f9;
}

.Projects-Container {
  color: #2f2e41;
  font-family: 'Nunito', "Noto-sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 8%;

}

.image-box {
  width: 100%;
  height: 500px;
  margin-bottom: 2%;
}



.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  filter: brightness(100%);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  transition: all .2s ease-out;
  border-radius: 5px;

}

#Age {
  object-position: left center;
  filter: brightness(100%);
}


.project-image:hover {
  cursor: pointer;
  filter: brightness(100%);
  transform: scale(1.0005);
  box-shadow: 0 10px 15px 0 rgb(0 0 0 / 20%);
}

#Age:hover {
  cursor: auto;
  transform: scale(1);
  filter: brightness(100%);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
}

.Text {
  margin-left: 1.5rem;
}

.Project-section {
  margin-bottom: 7em;
}


.Project-Text {
  font-size: 1.25rem;
}


.project-skill-container {
  display: flex;
  flex-wrap: wrap;
}

.project-skill {
  font-size: 1.25rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.4rem;
  border-radius: 5px;
  color: white;

  background-color: rgb(52, 51, 60);
}



@media only screen and (max-width:680px) {
  .project-skill {
    font-size: 1.1rem;
  }

  .image-box {
    width: 100%;
    height: auto;
    margin-bottom: 2%;
  }

  .project-image {
    width: 100%;
    height: auto;
    object-fit: cover;

  }



}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translate(0, 25px);
  }

  100% {
    opacity: 1;
  }
}