.Projects-Global {
  padding-top: 67px;
  padding-bottom: 67px;
  background-color: var(--offWhiteColor);


}

#disabled {
  cursor: not-allowed;
}

.Projects-Box {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.See-work-link {
  display: flex;
  margin-top: 15px;
}

.Projects-Container {
  color: var(--contentColor);
  font-family: var(--fonts);
  font-weight: normal;
  font-style: normal;
  letter-spacing: 8%;

}

.image-box {
  height: 300px;

  border-radius: 5px;
}




.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: all .2s ease-out;
  border-radius: 5px;

}


.Text {
  margin-left: 1.5rem;
}

.Project-section {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: #efeeee;
  border-radius: 5px;
  border: 1px solid rgb(185, 181, 181, 0.5);

}



.Project-Text {
  font-size: var(--bodyFontSize);
  margin-top: 0px;
  margin-bottom: 0px;
}



.github-button-wrap {
  display: flex;

}

.github-button {

  font-family: var(--fonts);
  padding: 10px 28px;
  font-size: var(--bodyFontSize);
  font-weight: 500;
  border: 3px solid var(--mainBlack);
  border-radius: 5px;

  color: var(--offWhiteColor);
  background-color: var(--mainBlack);
  transition: 0.5s;
}

.enabled:hover {
  font-family: var(--fonts);
  background-color: #efeeee;
  color: var(--mainBlack);
  cursor: pointer;
}


@media only screen and (max-width:940px) {
  .project-skill {
    font-size: 0.88rem;
  }

  .image-box {
    width: 100%;
    height: auto;
    margin-bottom: 2%;
  }

  .project-image {
    width: 100%;
    height: auto;
    object-fit: cover;

  }

  .Projects-Box {
    display: grid;
    grid-template-columns: 1fr;

  }


}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translate(0, 25px);
  }

  100% {
    opacity: 1;
  }
}