@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.Skills-Container {
    color: rgb(49, 49, 49);
    font-family: 'Poppins', "Noto Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 8%;
    padding-top: 2rem;

}


.Skill-Section {
    margin-bottom: 2rem;
}