@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

.Skills-Global {
    background-color: aliceblue;
    background-color: #f8f9f9;
}



.Skills-Container {
    color: #2f2e41;
    font-family: 'Nunito', "Noto-sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 8%;
}

.Skill-Section {
    margin-bottom: 2rem;
}

/*Experience skill*/
.skill-container {
    display: flex;
    flex-wrap: wrap;

}

.skill {
    font-size: 1.25rem;
    margin: 0.5rem;
    padding: 0.4rem;
    border-radius: 5px;
    color: white;

    background-color: rgb(52, 51, 60);
}


/*Have each fade in one by one
#React {
    /*Animation
opacity: 0;
animation-name: translateInLeft;
animation-iteration-count: 1;
animation-timing-function: ease-in-out;
animation-delay: 0.6s;
animation-duration: 0.5s;
animation-fill-mode: forwards;
}

*/